/* ------------------------- / / BACKGROUND / / ------------------------- */
body {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Garantir que ocupa toda a altura da janela */
    display: flex;
    flex-direction: column; /* Flex-direction para coluna */
}

/* ------------------------- / / ÍCONES DO NAVBAR / / ------------------------- */
.nav-icon {
    width: 20px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}

/* Logo Admin */
.admin-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
    color: #ffffff;
}

/* --------------------------------------------- */
/* FORMULÁRIO DE LOGIN */
/* --------------------------------------------- */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    background-color: #f8f9fa;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.title {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

/* ESTILOS DOS CAMPOS DO FORMULÁRIO */
.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

/* ESTILOS DO BOTÃO */
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* ------------------------- / / RODAPÉ / / ------------------------- */
footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 2rem 0rem;
    margin-top: auto; /* Faz o rodapé se empurrar para o final */
}

footer a {
    color: #00b7ff;
    text-decoration: none;
}

footer .socials a {
    margin: 0 0.5rem;
    font-size: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-media a:hover .social-icon {
    transform: scale(1.2);
}

/* ---------------------------------------------------------------------------------------- / / PAINEL DE ADMINISTRAÇÃO / / ---------------------------------------------------------------------------------------- */
main {
    padding: 20px;
    flex: 1; /* Permite que o main ocupe o espaço disponível */
}

h1 {
    margin-bottom: 15px;
}

/* Cartões */
.card {
    background: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-header {
    background: #2d2f31;
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Conteúdo dos cartões */
.card-content {
    transition: max-height 2.0s ease-out;
}

.logo-preview img {
    width: 100px;
    height: auto;
}

/* Expandir */
button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background: none;
}

button img {
    width: 20px;
}

/* Categorias */
.category {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

/* Esconder Inicialmente */
.toggle-content {
    display: none; /* Ocultar o conteúdo por padrão */
}

.toggle-content.active {
    display: block; /* Mostrar o conteúdo quando a classe "active" estiver presente */
}

/* ------------------------------------------- */
/* CATALOGO */
/* ------------------------------------------- */

/* Linha de separação */
.separator {
    border: 1px solid #d3d3d3;
    width: 95%;
    margin: 20px auto;
}

.upload-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.upload-container img {
    border-radius: 50%;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

.icon-group {
    display: flex;
    margin-left: auto;
}

.icon {
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-btn img {
    width: 20px;
    height: auto;
}

/* Estilizando os ícones */
.icon img {
    width: 40px;
    height: auto;
    transition: filter 0.2s;
}

.icon img:hover {
    filter: brightness(0.7);
}




/* ------------------------- / / ESTILOS DOS MODAIS / / ------------------------- */

/* Estilos gerais para a modal */
.modal-content {
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos para o cabeçalho da modal */
.modal-header {
    background-color: #257425;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Estilos para o título da modal */
.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estilos para o corpo da modal */
.modal-body {
    padding: 20px;
}

/* Estilos para grupos de upload de imagem */
.image-upload-group {
    margin-bottom: 20px;
}

.image-upload-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.preview-image {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para o botão de remover pré-visualização */
.remove-preview {
    display: inline-block;
    margin-top: 5px;
    color: red;
    cursor: pointer;
}

/* Estilos para os campos de entrada */
.form-control {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Estilos para o botão de adicionar */
.btn-add {
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    display: inline-block; /* Certifique-se de que o botão é inline-block */
    margin: 0 auto; /* Adicione esta linha */
}


.btn-add:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

/* Estilos para o rodapé da modal */
.modal-footer {
    padding: 15px;
    display: flex; /* Adicione esta linha */
    justify-content: center; /* Adicione esta linha */
}
.modal-footer-content .btn {
    margin: 0 10px; /* Adiciona um espaço entre os botões */
}


/* Estilos para o botão de cancelar */
.btn-secondary {
    background-color: #ff0000;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #830000;
}
