/* ------------------------- / / BACKGROUND / / ------------------------- */
body {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ------------------------- / / ÍCONES DO NAVBAR / / ------------------------- */
.nav-icon {
    width: 20px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}

/* Logo Admin */
.admin-text {
    font-size: 1.1rem;
    /* Tamanho da fonte */
    font-weight: bold;
    margin-left: 10px;
    /* Espaçamento à esquerda */
    color: #ffffff;
    /* Cor do texto */
}

/* --------------------------------------------- */
/* FORMULÁRIO DE LOGIN */
/* --------------------------------------------- */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Altera de flex-start para center para centralizar verticalmente */
    min-height: 100vh;
    padding: 30px;
    background-color: #f8f9fa;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    /* Remove a margem superior para centralizar verticalmente */
}

.logo-container img {
    width: 150px;
    /* Tamanho padrão da logo */
    height: 150px;
    /* Tamanho padrão da logo */
    border-radius: 50%;
    /* Torna a imagem redonda */
    object-fit: cover;
    /* Garante que a imagem se ajuste bem ao tamanho */
}

.title {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

/* ESTILOS DOS CAMPOS DO FORMULÁRIO */
.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

/* ESTILOS DO BOTÃO */
.btn-primary {
    background-color: #28a745;
    /* Cor padrão */
    border-color: #28a745;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* ------------------------- / / RODAPÉ / / ------------------------- */
footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 2rem 0rem;
    margin-top: auto;
}

footer a {
    color: #00b7ff;
    text-decoration: none;
}

footer .socials a {
    margin: 0 0.5rem;
    font-size: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-media a:hover .social-icon {
    transform: scale(1.2);
}

/* ---------------------------------------------------------------------------------------- / / PAINEL DE ADMINISTRAÇÃO / / ---------------------------------------------------------------------------------------- */
main {
    padding: 20px;
}

h1 {
    margin-bottom: 15px;
}

/* Cartões */
.card {
    background: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-header {
    background: #2d2f31;
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Conteúdo dos cartões */
.card-content {
    transition: max-height 2.0s ease-out;
}


.logo-preview img {
    width: 100px;
    height: auto;
}

/* Expandir */
button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background: none;
}

button img {
    width: 20px;
}

/* Categorias */
.category {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.category-header img {
    width: 40px;
    margin-right: 10px;
}

/* Esconder Inicialmente */
.toggle-content {
    display: none; /* Ocultar o conteúdo por padrão */
}

.toggle-content.active {
    display: block; /* Mostrar o conteúdo quando a classe "active" estiver presente */
}

/* ------------------------------------------- */
/* CATALOGO */
/* ------------------------------------------- */

/* Linha de separação */
.separator {
    border: 1px solid #d3d3d3;
    width: 95%;
    margin: 20px auto;
}


.upload-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.upload-container img {
    border-radius: 50%;
    padding: 5px;
    max-width: 100px;
    height: auto;
}

.icon-group {
    display: flex;
    margin-left: auto;

}

.icon {
    margin-left: 15px;
    /* Espaçamento entre os ícones */
    cursor: pointer;
    /* Mudar o cursor para indicar que é clicável */
    transition: transform 0.2s;
    /* Efeito de transição suave */
}

.icon:hover {
    transform: scale(1.1);
    /* Aumentar um pouco o ícone ao passar o mouse */
}

.toggle-btn {
    background: none;
    /* Remover fundo do botão */
    border: none;
    /* Remover borda do botão */
    cursor: pointer;
    /* Mudar o cursor para indicar que é clicável */
}

.toggle-btn img {
    width: 20px;
    /* Tamanho do ícone de expandir */
    height: auto;
    /* Manter a proporção do ícone */
}

/* Estilizando os ícones */
.icon img {
    width: 40px;
    /* Aumentar o tamanho do ícone */
    height: auto;
    /* Manter a proporção do ícone */
    transition: filter 0.2s;
    /* Efeito de transição suave na cor */
}

.icon img:hover {
    filter: brightness(0.7);
}